*,
html {
    /* outline: 1px solid #f00 !important; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-2);
    font-family: var(--font-family);
    overflow: hidden;
    overflow: visible;
    /* font-size: var(--font-size); */
}

.sectionContainer {
    height: fit-content;
    overflow-y: scroll;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
}

.aboutMe {
    padding: 0rem 2rem;
}
.aboutMe p {
    overflow: hidden;
    text-overflow: "---";
    line-height: 1.5;
}

.aboutMe img {
    width: 50%;
    margin-bottom: 3rem;
}

.titleAndImage {
    gap: 3rem;
    height: 5rem;
    padding: 1rem;
}

.titleAndImage img {
    height: 100%;
}

h2 {
    margin: 0;
}

/* Project section */

.projects {
    /* position: relative; */
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    height: 100%;
    position: relative;
    /* padding: 2rem; */
}

.projectsContainer h3 {
    margin: 0;
    white-space: nowrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem 3rem;
    min-width: 25rem;
    cursor: pointer;
}

.project img {
    height: 4rem;
    width: 4rem;
}

.techContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.tech {
    font-size: clamp(0.3rem, 0.6rem, 1rem);
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
}

.html {
    background-color: #c96f58;
}

.css {
    background-color: #7aa1be;
}

.js {
    background-color: #cec788;
}

.ts {
    background-color: #377cc8;
}

.react {
    background-color: #61dafb;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 1rem;
}

.modal.visible {
    transform: translateX(0);
    display: flex;
    opacity: 1;
    visibility: visible;
}

.video-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.video-container video {
    height: auto;
    width: 100%;
}

.exit-button {
    bottom: 5rem;
    position: absolute;
    color: var(--color-1);
    background-color: rgba(171, 66, 66, 0.7);
    border: none;
    cursor: pointer;
    padding: 1rem 6rem;
    border-radius: 1rem;
}

/* .modal video {
    height: auto;
    width: 80%;
} */

#pokedexVideo {
    clip-path: inset(1% 1% 0% 1%);
}
#marsVideo {
    clip-path: inset(1% 3% 4% 1%);
}
#todoVideo {
    clip-path: inset(2% 0% 2% 1%);
}

/* Section 3 */

.contact-form {
    text-align: left;
}

.formItem {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.524);
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 1rem;
}

.contact-form label {
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.contact-form textarea {
    height: 5rem;
    resize: none;
}

.contact-form :active {
}

.contact-form > *:focus {
    outline: none;
}

.contact-form input[type="submit"] {
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: rgb(250, 155, 165);
}
