@media screen and (max-width: 330px) {
    :root {
        font-size: 12px;
    }

    .desktopHero {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    body{
        overflow: visible;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    header {
        display: block;
        /* background-color:  */
    }

    .container {
        display: none;
    }

    .desktopHero {
        box-sizing: border-box;
        display: flex;
        height: fit-content;
        width: 100vw;
        position: sticky;
        padding: 1.5rem;
        /* border-bottom: #83619a5f solid 1rem; */
    }

    .imageAndName {
        gap: 6rem;
        height: 100%;
        padding-top: 3.5rem;
        /* margin-top: 7.5rem; */
        /* box-sizing: border-box; */
    }

    .imageAndName h2 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .imageAndName img {
        height: 7rem;
    }

    /* navbar */

    .navBar ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style-type: none;
        padding: 1rem;
    }

    .navBar ul li {
        padding: 0.2rem;
        cursor: pointer;
    }
    .navBar ul li:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .active {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: solid 2px #83619a5f;
    }

    /* sections */

    .sectionContainer {
        flex-grow: 1;
        height: 100%;
    }

    .sectionContainer > section {
        height: 100%;
        /* padding: 6rem 8rem; */
        margin: 0 auto;
        max-width: 59rem;
    }

    .sectionContainer #section1 {
        /* padding-bottom: 10rem; */
    }
    .sectionContainer #section2 {
        /* padding: 0 10rem;
        padding-bottom: 10rem; */
    }

    .titleAndImage img {
        display: none;
    }

    .projectsContainer {
        flex-direction: row;
    }

    .project{
        min-width: 15rem;
    }

    .modal {
        width: 80vw;;
        height: auto;
    }
}
