@media screen and (max-width: 375px) {
    .modal {
        scale: 1;
    }

    #pokedexVideo {
        clip-path: inset(1% 1% 1% 0%);
    }
    #marsVideo {
        clip-path: inset(1% 1% 1% 1%);
    }
    #todoVideo {
        clip-path: inset(0% 0% 0% 0%);
    }
}
@media screen and (min-width: 475px) {
}

@media screen and (min-width: 565px) {
    body,
    section {
        max-width: 900px;
        margin: 0 auto;
    }

    #pokedexVideo {
        clip-path: inset(0% 10% 0% 10%);
    }
    #marsVideo {
        clip-path: inset(5% 0% 5% 1%);
    }
    #todoVideo {
        clip-path: inset(2% 0% 2% 1%);
    }
    .modal video {
        height: auto;
        width: 40%;
    }
}
@media screen and (min-width: 765px) {
}
