#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#section2 p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* font-size: medium; */
    line-height: 24px;
    max-height: 80vh;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    box-sizing: border-box;
}

#section2 p::-webkit-scrollbar {
    display: none;
}
