#section1 {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: url("images/portrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width: 100%;
    /* margin: 0.1rem; */
    border-radius: 0.3rem;
    flex: 5;
    background-color: #d6c9de;
    color: var(--color-1);
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    touch-action: none;
}

.actions {
    background-color: #d6c9de;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

button {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
}

#dislike {
    justify-content: center;
    align-items: center;
    background-color: #888888;
}

#like {
    justify-content: center;
    align-items: center;
    background-color: #fb4f68;
}

#dislike img {
    scale: 1;
}

#like img {
    scale: 1;
}
