:root{
    --animation-color: #edbd58;
}

*{
    z-index: 1;
}

html{
    /* background-color: black; */
}

body{
    margin: 0 auto;
    /* background-image: url("images/figmaBG3.png"); */
    /* background-repeat: repeat; */
    /* background-size: contain; */
    /* width: clamp(200px, 100vw, 600px); */
    background-color: #f5ede1;
    overflow-x: hidden;

}

h1{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 60px;
    height: 100vh;
    margin-top: 100px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: top;
    height: 100vh;

}

.projects{
    display: flex;
    justify-content: center;
    
    
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* flex-wrap: wrap; */
    /* box-shadow: black 0px 0px 10px 2px ; */
}
.project img{
    width: 60%;
}

.project h2{
    font-size: 0.7em;
    font-weight: bold;
    /* width: ; */
}

#portrait{
    height: fit-content;
    width: 200px;
    border-radius: 100px;
}

#background{
    height: 0px;
}

.background {
    transform: rotate(130deg);
    /* position: sticky; */
    /* left: 20%;
    right: 20%; */
    width: 100px;
    height: 800px;
    border-radius: 60px;
    background-color: var(--animation-color);
    position: relative;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    visibility: hidden;
    z-index: 0;
  }

  .b1{
    animation-name: example1;
    height: 400px;
  }

  .b2{
    animation-name: example2;
    height: 200px;

  }

  .b3{
    animation-name: example3;
    height: 800px;

  }
  .b4{
    animation-name: example4;
    height: 110px;

  }
  .b5{
    animation-name: example5;
    height: 400px;
  }

  .b6{
    animation-name: example6;
    height: 200px;

  }

  .b7{
    animation-name: example7;
    height: 800px;

  }
  .b8{
    animation-name: example8;
    height: 110px;

  }
  
  /* @keyframes example1 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:20%;}
    100%  {background-color:var(--animation-color); left:120%; top:80%;visibility: hidden;}
  
  }
  @keyframes example2 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:-50%;}
    100%  {background-color:var(--animation-color); left:120%; top:40%;visibility: hidden;}
  
  }
  @keyframes example3 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:0%;}
    100%  {background-color:var(--animation-color); left:140%; top:120%;visibility: hidden;}
  
  }
  @keyframes example4 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:100%;}
    100%  {background-color:var(--animation-color); left:140%; top:190%;visibility: hidden;}
  
  }
  @keyframes example5 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-20%; top:0%;}
    100%  {background-color:var(--animation-color); left:120%; top:80%;visibility: hidden;}
  
  }
  @keyframes example6 {
    0%   {visibility: visible; background-color:var(--animation-color); left:110%; top:-50%;}
    100%  {background-color:var(--animation-color); left:-120%; top:40%;visibility: hidden;}
  
  }
  @keyframes example7 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:0%;}
    100%  {background-color:var(--animation-color); left:140%; top:120%;visibility: hidden;}
  
  }
  @keyframes example8 {
    0%   {visibility: visible; background-color:var(--animation-color); left:-40%; top:100%;}
    100%  {background-color:var(--animation-color); left:140%; top:190%;visibility: hidden;}
  
  } */

  @keyframes example1 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:120%; top:80%; visibility: hidden;}
  }
  
  @keyframes example2 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:120%; top:-50%; visibility: hidden;}
  }
  
  @keyframes example3 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:140%; top:120%; visibility: hidden;}
  }
  
  @keyframes example4 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:140%; top:190%; visibility: hidden;}
  }
  
  @keyframes example5 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:120%; top:80%; visibility: hidden;}
  }
  
  @keyframes example6 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:-120%; top:40%; visibility: hidden;}
  }
  
  @keyframes example7 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:140%; top:120%; visibility: hidden;}
  }
  
  @keyframes example8 {
    0%   {visibility: visible; background-color:var(--animation-color); left:0; top:0;}
    100% {background-color:var(--animation-color); left:140%; top:190%; visibility: hidden;}
  }
  
